@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalización de SweetAlert2 */
.colored-toast.swal2-icon-success {
  background-color: #10b981 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #ef4444 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f59e0b !important;
}
